html {
    font-family: monospace;
}

div, body {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}


div.system_messages_type {
	font-weight: bold;
	color: #f00;
	background-color: inherit;
	margin: 5px 5px;
}

div.system_messages_message {
	margin: 5px 8px;
	background-color: inherit;
	color: #fff;
}

div#system_messages {
	background-color: #bbb;
	padding: 5px;
	margin: 0px;
}

